
#run {
    background: #fff;
    padding: 0.3em 0;
    width: 100%;
    border: 1px solid #eee;
    font-size: 1.1em;
}

#run:hover {
    background: #d4d4d4
}

#source {
    width: 100%;
    font-size: 1.2em;
    outline-style: none;
    height: 10em;
    padding: 0.5em;
    box-sizing: border-box;
}

#console {
    height: 5em;
    margin-top: 1em;
    background: #212121;
    color: greenyellow;
    padding: 0.5em;
    box-shadow: 0px 0px 10px #4d4d4d;
    overflow-y: auto;
}