* {
    margin: 0;
    padding: 0;
}

pre {
    border: 1px solid #eee;
    text-indent: 0;
    width: 100%;
}
body {
    background: #FAFAFA;
}
body, html {
    height: 100%;
}
#wrap {
    box-sizing: border-box;
    padding: 10px 0;
    width: 600px;
    margin: 0 auto 40px;
    border: 1px solid #ccc;
    border-top: none;
    min-heigt: 100%;
    background: white;
}
#head {
    background: #fafafa;
    border:solid 1px #eee;
    margin: 0 -10px;
    padding: 10px;
    box-shadow: 0 0 5px #fafafa;
    /*margin: 20px 0;*/
    text-align: center;
}
#head h1{
    color: #777777;
    font-family: "Open Sans",sans-serif;
    font-size: 2.5em;
    font-weight: lighter;
}
#head h2{
    color: #528CE0;
    font-family: "Open Sans",sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    margin-top: 10px;
}

#description .detail{
    line-height: 150%;
    padding: 0 10px;
    color: #888;
    font-family: "Open Sans",sans-serif;
/*    text-indent: 2em;*/
    font-size: 1em;
}

#description .code-display {
    color: #555;
    border: 1px dashed #ddd;
    margin: 5px 0;
    font-family: monospace;
}

#description li {
    margin-left: 40px;
    text-indent: 0;
}

#description h3 {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    width: 100%;
    margin: 10px -10px;
    padding: 10px 10px;
    font-weight: normal;
    font-size: 1.2em;
    text-indent: 1em;
    color: #aaa;
    font-family: "Open Sans",sans-serif;
}

#js, #js-light {
    margin: 15px 0;
    margin-left: -1px;
    box-shadow: 0 0 15px #aaa;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #bbb;
    text-indent: 0;
    text-decoration: none;
    color: #2b81af;
    font-weight: lighter;
    font-family: "Open Sans",sans-serif;
    font-size: 1.3em;
    margin-left: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    height: 3em;
    line-height: 3em;
    font-family: "Open Sans",sans-serif;
    font-size: 0.9em;
    color: #909090;
    background: #eaeaea;
}

.btn:hover {
    background: #2b81af;
    color:#ffffff;
    border: 1px solid #2b81af;
}

@media screen and (max-width: 480px) {
    #wrap {
        width: 100%;
    }
    
    #head {
        margin: 0px;
        padding: 10px;
    }
    .btn {
        width: 33%;
        margin: 10px 0;
        padding: 5px 0;
        border-right: none;
        text-align: center;
    }
    #description h3 {
        margin: 5px 0;
        padding: 10px 0;
    }
}